#!/usr/bin/env bash

# Laravel
alias a='php artisan'

# Shortcuts
alias e="exit"
alias h="cd ~"
alias l="ls -laF"

# WeekNumber
alias week='date +%V'

# Git
alias glog="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"