#!/usr/bin/env bash

# Zsh
alias reload=". ~/.zshrc"

# Shortcuts
alias a="php artisan"
alias c="composer"
alias e="exit"
alias h="cd ~"
alias l="ls -laF"

# Update / Upgrade
alias update="sudo apt-get update"
alias upgrade="sudo apt-get upgrade"

# WeekNumber
alias week='date +%V'

# Git
alias glog="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"