function afk() {
	if cat /proc/version | grep -q 'Microsoft@Microsoft.com'
	then
		rundll32.exe user32.dll,LockWorkStation
	fi

	if [ "$XDG_CURRENT_DESKTOP" = "KDE" ]
	then
		qdbus org.freedesktop.ScreenSaver /ScreenSaver Lock
	fi
}

function fs() {
	if du -b /dev/null > /dev/null 2>&1; then
		local arg=-sbh
	else
		local arg=-sh
	fi
	if [[ -n "$@" ]]; then
		du $arg -- "$@"
	else
		du $arg .[^.]* *
	fi
}

function weather() {
	city="$1"

	if [ -z "$city" ]; then
		city="Amsterdam"
	fi

	eval "curl -s -H 'Accept-Language: nl' http://wttr.in/${city} | head -n -3"
}


function digga() {
	dig +nocmd "$1" any +multiline +noall +answer;
}

# https://github.com/robbyrussell/oh-my-zsh/blob/master/plugins/zsh_reload/zsh_reload.plugin.zsh
function reload() {
	local cache=$ZSH_CACHE_DIR
	autoload -U compinit zrecompile
	compinit -d "$cache/zcomp-$HOST"

	for f in ~/.zshrc "$cache/zcomp-$HOST"; do
		zrecompile -p $f && command rm -f $f.zwc.old
	done

	source ~/.zshrc
}