function afk() {
	if cat /proc/version | grep -q 'Microsoft@Microsoft.com'
	then
		rundll32.exe user32.dll,LockWorkStation
	fi

	if [ "$XDG_CURRENT_DESKTOP" = "KDE" ]
	then
		qdbus org.freedesktop.ScreenSaver /ScreenSaver Lock
	fi
}

function fs() {
	if du -b /dev/null > /dev/null 2>&1; then
		local arg=-sbh
	else
		local arg=-sh
	fi
	if [[ -n "$@" ]]; then
		du $arg -- "$@"
	else
		du $arg .[^.]* *
	fi
}

function digga() {
	dig +nocmd "$1" any +multiline +noall +answer;
}
